In [52]:
import serial
import time
#from datetime import datetime
import datetime
import pandas as pd

In [53]:
ser = serial.Serial('/dev/cu.usbserial-FTXQJ5NX', 9600, timeout=1)
print(ser.name)
ser.reset_output_buffer()
time.sleep(2)
ser.write(b'TT\r\n')
temptime = []
time.sleep(1)
num_samples = 0
while(num_samples < 50):
    temptime.append((str(ser.readline())[3:-6], datetime.datetime.now().strftime('%Y/%m/%d %H:%M:%S:%f')))
    num_samples += 1
ser.close()

live = pd.DataFrame(temptime, columns=['Temp', 'Time'])
print(str(temptime))

/dev/cu.usbserial-FTXQJ5NX
[('', '2018/02/13 15:32:26:231948'), ('22.085', '2018/02/13 15:32:26:232247'), ('22.085', '2018/02/13 15:32:26:306583'), ('22.085', '2018/02/13 15:32:26:562376'), ('22.085', '2018/02/13 15:32:26:818150'), ('22.085', '2018/02/13 15:32:27:058289'), ('22.085', '2018/02/13 15:32:27:314095'), ('22.085', '2018/02/13 15:32:27:554474'), ('22.085', '2018/02/13 15:32:27:811056'), ('22.085', '2018/02/13 15:32:28:065819'), ('22.085', '2018/02/13 15:32:28:305724'), ('22.085', '2018/02/13 15:32:28:561564'), ('22.085', '2018/02/13 15:32:28:817395'), ('22.085', '2018/02/13 15:32:29:057519'), ('22.085', '2018/02/13 15:32:29:313344'), ('22.086', '2018/02/13 15:32:29:553323'), ('22.085', '2018/02/13 15:32:29:809326'), ('22.085', '2018/02/13 15:32:30:065007'), ('22.085', '2018/02/13 15:32:30:305016'), ('22.086', '2018/02/13 15:32:30:560820'), ('22.086', '2018/02/13 15:32:30:816518'), ('22.086', '2018/02/13 15:32:31:056746'), ('22.086', '2018/02/13 15:32:31:312431'), ('22.086', '2018/02/13 15:32:31:552607'), ('22.086', '2018/02/13 15:32:31:807942'), ('22.086', '2018/02/13 15:32:32:063776'), ('22.086', '2018/02/13 15:32:32:303853'), ('22.086', '2018/02/13 15:32:32:559730'), ('22.086', '2018/02/13 15:32:32:815588'), ('22.086', '2018/02/13 15:32:33:055798'), ('22.086', '2018/02/13 15:32:33:311394'), ('22.086', '2018/02/13 15:32:33:566949'), ('22.086', '2018/02/13 15:32:33:807001'), ('22.086', '2018/02/13 15:32:34:063000'), ('22.086', '2018/02/13 15:32:34:303498'), ('22.086', '2018/02/13 15:32:34:558595'), ('22.087', '2018/02/13 15:32:34:814423'), ('22.087', '2018/02/13 15:32:35:054477'), ('22.087', '2018/02/13 15:32:35:310272'), ('22.087', '2018/02/13 15:32:35:568272'), ('22.087', '2018/02/13 15:32:35:805997'), ('22.087', '2018/02/13 15:32:36:062222'), ('22.087', '2018/02/13 15:32:36:301834'), ('22.087', '2018/02/13 15:32:36:557885'), ('22.087', '2018/02/13 15:32:36:813537'), ('22.087', '2018/02/13 15:32:37:053505'), ('22.087', '2018/02/13 15:32:37:309118'), ('22.087', '2018/02/13 15:32:37:565145'), ('22.087', '2018/02/13 15:32:37:804932'), ('22.087', '2018/02/13 15:32:38:060854')]

In [56]:
live.head(20)

      Temp                        Time
0           2018/02/13 15:32:26:231948
1   22.085  2018/02/13 15:32:26:232247
2   22.085  2018/02/13 15:32:26:306583
3   22.085  2018/02/13 15:32:26:562376
4   22.085  2018/02/13 15:32:26:818150
5   22.085  2018/02/13 15:32:27:058289
6   22.085  2018/02/13 15:32:27:314095
7   22.085  2018/02/13 15:32:27:554474
8   22.085  2018/02/13 15:32:27:811056
9   22.085  2018/02/13 15:32:28:065819
10  22.085  2018/02/13 15:32:28:305724
11  22.085  2018/02/13 15:32:28:561564
12  22.085  2018/02/13 15:32:28:817395
13  22.085  2018/02/13 15:32:29:057519
14  22.085  2018/02/13 15:32:29:313344
15  22.086  2018/02/13 15:32:29:553323
16  22.085  2018/02/13 15:32:29:809326
17  22.085  2018/02/13 15:32:30:065007
18  22.085  2018/02/13 15:32:30:305016
19  22.086  2018/02/13 15:32:30:560820

In [16]:
i = 0
k = 0
while i <10 :
    i += 1
    print("i= " + str(i))
    while(k < 5) :
        print("k= " + str(k))
        if k == 1:
            break
        k += 1

i= 1
k= 0
k= 1
i= 2
k= 1
i= 3
k= 1
i= 4
k= 1
i= 5
k= 1
i= 6
k= 1
i= 7
k= 1
i= 8
k= 1
i= 9
k= 1
i= 10
k= 1

In [33]:
ss = "123abc"
ss[3:-1]

'ab'

In [73]:
#detect usb to serial ports in use
import os
import re
devices = os.listdir('/dev/')
found =[]
for entry in devices:
    srch = re.search("(cu.usbserial).*", entry)  
    if srch:
        found.append(srch.group(0))
print(found)

['cu.usbserial-FTXQJ5NX']